title: "Singles Cow Themes"
description: "A simple bootstrap based Jekyll theme."
baseurl: "" # leave blank for root
url: ""     # leave blank for local dev
lang: "en_US"
author: pablovallbona
logo: assets/images/lwt-logo-wolf-v2.png

# Theme
plugins:
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-seo-tag
  - jemoji
  - jekyll-include-cache

remote_theme: pablovallbona/lone-wolf-theme

# Defaults for pages and posts
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
      show_hero: true
      show_author: true
      show_toc: true
      share: true
      show_comments: false
  - scope:
      path: ""
    values:
      layout: home
      image: assets/images/lwt-logo-wolf-v2.png
      image_alt: Lone Wolf Theme logo

# Markdown & Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Output settings
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
encoding: "utf-8"

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Include/Exclude
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs
  - /test
keep_files:
  - .git
  - .svn
